.nav2 {
    position: absolute;
    margin-left: 30px;
    margin-top: 12px;
  }  
  
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
  }

img {
    display: block;
}

  #intro {
    width: 100%;
    height: 100%;
  }
  
  .topnav {
      padding-top:10px;  
      padding-bottom:30px;
      padding-left: 10px;
      position:absolute;
      width:90%;
      z-index:1;
      background-color: rgb(0, 0, 0);
      font-family: "Times New Roman", Times, serif;
      font-weight: bold;
      background-color: rgba(10, 0, 0, 0);
  }
  .topnav a {
      float: right;
      color: #dddada;
      text-align: center;
      padding-right: 0px;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 14px;
      font-family: Arial, sans-serif;
  }

.first a {
    color: rgb(209, 207, 207);
  }
  
.first a:hover {
      color: #ffffff; 
  }
  
.second a:hover {
    color: #ffffff;
  }

.second a:hover {
  color: rgb(255, 255, 255);
}

