.nav2 {
    position: absolute;
    margin-right: 980px;
    margin-top: 12px;
  }
  
  h1 {
    margin-top: 130px;
    margin-left: 110px;
    font-size: 40px;
  }
  
  h2 {
    margin-top: 15px;
    margin-left: 25px;
  }
  
  .episodes {
    margin-left: 0px;
  }
  
  .picture1 {
    margin-left: 300px;
    width: 200px;
    height: 200px;
    border-radius: 15px 15px 15px 15px;
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
  }
  
  .picture1:hover {
    width: 200px;
    height: 200px;
    margin-left: 300px;  
    border-radius: 15px 15px 15px 15px;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 3px solid rgb(255, 255, 255); 
    position: fixed;
  }
  
  .picture2 {
    margin-left: 550px;
    border-radius: 15px 15px 15px 15px;
    object-fit: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
  }
  
  .picture2:hover {
    width: 200px;
    height: 200px;
    margin-left: 550px;  
    border: 3px solid rgb(255, 255, 255); 
    position: fixed;
  }
  
  .picture3 {
    margin-left: 800px;
    border-radius: 15px 15px 15px 15px;
    object-fit: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
  }
  
  .picture3:hover {
    width: 200px;
    height: 200px;
    margin-left: 800px;  
    border: 3px solid rgb(255, 255, 255); 
    position: fixed;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
  }
  
  #intro {
    width: 100%;
    height: 100%;
  }
  
  .topnav {
      padding-top:10px;  
      padding-bottom:30px;
      padding-left: 10px;
      position:absolute;
      width:90%;
      z-index:1;
      background-color: rgb(0, 0, 0);
      font-family: "Times New Roman", Times, serif;
      font-weight: bold;
      background-color: rgba(10, 0, 0, 0);
  }
  .topnav a {
      float: right;
      color: #dddada;
      text-align: center;
      padding-right: 0px;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 14px;
      font-family: Arial, sans-serif;
  }
  
  .first a {
    color: white;
  }
  
  .first a:hover {
      color: #ffffff; 
  }
  
  .second a:hover {
    color: #ffffff;
  }
  
  .third a:hover {
    color: #ffffff;
  }