.nav2 {
    position: absolute;
    margin-right: 980px;
    margin-top: 12px;
  }
  
  h2 {
    margin-top: 15px;
    margin-left: 25px;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
  }
  
  #intro {
    width: 100%;
    height: 100%;
  }
  
  .topnav {
      padding-top:10px;  
      padding-bottom:30px;
      padding-left: 10px;
      position:absolute;
      width:90%;
      z-index:1;
      background-color: rgb(0, 0, 0);
      font-family: "Times New Roman", Times, serif;
      font-weight: bold;
      background-color: rgba(10, 0, 0, 0);
  }
  .topnav a {
      float: right;
      color: #dddada;
      text-align: center;
      padding-right: 0px;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 14px;
      font-family: Arial, sans-serif;
  }
  
  .first a {
    color: white;
  }
  
  .first a:hover {
      color: #ffffff; 
  }
  
  .second a:hover {
    color: #ffffff;
  }


  .column {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 100px;
    background-color: black;
    margin-right: 10px;
    transition: all 0.4s ease;
}

  .column:hover {
    transform: scale(1);
    margin-right: 20%;
    margin-right: calc(5% + 10px);
    margin-left: 5%;
  }
  